nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 10vh;
  background: #333;
  color: #fff;
}

.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.navLink {
  color: #f5913e;
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;
}

.navLink:hover {
  color: #fff;
}
